:root {
  --clr-primary-300: hsl(215, 51%, 70%);
  --clr-primary-400: hsl(178, 100%, 50%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(215, 32%, 27%); /* line */
  --clr-neutral-800: hsl(216, 50%, 16%); /* card bg */
  --clr-neutral-900: hsl(217, 54%, 11%); /* main bg */

  --fs-base: 1.125rem; /* paragraph */

  --ff-base: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* CSS BASIC RESET -- https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GLOBAL STYLES */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-neutral-900);
  font-family: var(--ff-base);
}

ul {
    list-style-type: none;
}

/* LAYOUT STYLES */

.container {
    max-width: 21.875rem;
    padding: 1.25rem;
    background-color: var(--clr-neutral-800);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.container .card__image {
    position: relative;
}

.card__image img {
    border-radius: 1rem;
}

.container .card__image div {
    position: absolute;
    top: 0;
    background-color: var(--clr-primary-400);
    width: 100%;
    height: calc(100% - .1rem);
    border-radius: 1rem;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.container .card__image div:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 1rem;
}

.container .card__image div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.card__title {
    color: var(--clr-neutral-100);
    margin: 1rem .5rem .5rem 0;
    transition: .7s ease-in-out;
}

.card__title:hover {
    color: var(--clr-primary-400);
    cursor: pointer;
}

.card__description {
    color: var(--clr-primary-300);
    font-weight: var(--fw-light);
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--clr-neutral-500);
}

.container ul li {
    display: flex;
    align-items: center;
}

.container ul li:first-child {
    color: var(--clr-primary-400);
}

.container ul li:last-child {
    color: var(--clr-primary-300);
}

.container ul li img {
    margin-right: .5rem;
}

.card__avatar {
    display: flex;
    align-items: center;
    justify-content: start;
}

.card__avatar img {
    width: 3.5rem;
    border: 2px solid var(--clr-neutral-100);
    border-radius: 50%;
    margin-right: 1rem;
}

.card__avatar p {
    color: var(--clr-primary-300);
}

.card__avatar p span {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-regular);
}

.card__avatar p span:hover {
    color: var(--clr-primary-400);
    cursor: pointer;
    transition: .7s ease-in-out;
}

.sr__only {
    position: absolute;
    width: 0.063rem;
    height: 0.063rem;
    padding: 0;
    margin: -0.063rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }


/* FEM ATTRIB */

.attribution {
  font-size: 14px;
  text-align: center;
  color: var(--clr-primary-300);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
